<ion-view title="Certificado de Alumno Regular" id="page48">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>Certificado de Alumno Regular</strong>
        </span>
      </p>
      <p>Debes descargarlo desde el SIU Guaraní, haciendo clic en el menú de “Tramites/solicitud de Certificados” y seleccionando “Certificado de Alumno Regular”.</p>
      <p>Para poder recibirlo debes tener como mínimo dos finales aprobados (periodo de Mayo a Mayo).</p>
    </div>
  </ion-content>
</ion-view>