<ion-view title="Comisión  Ejecutiva" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/xbNrS5BES5qeuXeEwmK9_Logo-INGEOTEC-2-con-centro.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/GbIKTkdeSWmYA66ihZkx_Comisionejecutiva.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>Luego de las elecciones estudiantiles celebradas el 8 de noviembre de 2018, consolidando a la agrupación
        <strong>+ Ideas</strong> como ganadores, los representantes estudiantiles electos asumieron su lugares en la conducción del Centro de Estudiantes INGEOTEC, representante de las carreras de Ingenierías Civil, Industrial, Agroindustrial, de Minas, en Alimentos
        y Agronomica, Geología y la Tec. en Electro-Electrónica.</p>
      <p>&nbsp;</p>
      <h4 style="text-align: center;">
        <strong>Comisión Ejecutiva</strong>
      </h4>
      <p style="text-align: center;">&nbsp;</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Presidenta</strong>
        </span>
      </h4>
      <p style="text-align: center;">Michelle Pavka</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Vicepresidenta</strong>
        </span>
      </h4>
      <p style="text-align: center;">Carla Romero</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Sec. General</strong>
        </span>
      </h4>
      <p style="text-align: center;">Lourdes Vargas</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Sec. de Finanzas</strong>
        </span>
      </h4>
      <p style="text-align: center;">José Rivera</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Sec. de Prensa y Difusión</strong>
        </span>
      </h4>
      <p style="text-align: center;">Silvina Lista</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Sec. de Asuntos Académicos y Estudiantiles</strong>
        </span>
      </h4>
      <p style="text-align: center;">Federico Mamaní</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Sec. de Extensión Universitaria y Deporte</strong>
        </span>
      </h4>
      <p style="text-align: center;">Sergio Luna</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Sec. de Acción Social y Deporte</strong>
        </span>
      </h4>
      <p style="text-align: center;">Daniela Gisele Díaz</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="comisiNEjecutiva-slider1" style="width:calc(100% + 20px);height:200px;margin-left:-10px;">
      <ion-slide-page id="comisiNEjecutiva-slide26" style="background:url(&quot;img/bTOYvzTiWsimh6NvetAg_Asuncion0116.jpeg&quot;) no-repeat center;background-size:cover;background-color:#FC8D25;"></ion-slide-page>
      <ion-slide-page id="comisiNEjecutiva-slide25" style="background:url(&quot;img/s9VckLTnQ6auxgP31hxZ_Comisionejecuticasesion1.jpeg&quot;) no-repeat center;background-size:cover;background-color:#FC8D25;"></ion-slide-page>
      <ion-slide-page id="comisiNEjecutiva-slide24" style="background:url(&quot;img/Y5dtZAdnTWKiIkNwBnN2_Comisionejecuticasesion2.jpg&quot;) no-repeat center;background-size:cover;background-color:#FC8D25;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>